raw_data/
reference/
alignment/

*.fastq
*.fastq.gz
*.fastqsanger.gz
*.sam
*.bam
*.bai

.DS_Store

qc/*_fastqc.zip
qc/multiqc_data/

counts/*_s0.txt
counts/*_s0.txt.summary
counts/*_s1.txt
counts/*_s1.txt.summary
